
.text-decoration-none{
    text-decoration: none;
}
.mr-2{
    margin-right: .3rem;
}
/* blogs */
.blog-post {
  min-height: max-content;
}
.blog-list-container {
  padding: 20px;
  background-color: #fff;
  max-width: 700px;
  margin: auto;
}
.blog-tags {
  padding: 0.3rem 0.7rem;
  margin: 0.2rem;
}

.blog-image {
  margin-top:.4rem;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blog-desc {
  font-size: 0.8rem;
  margin: 2rem 0;
}
.blog-public {
  display: flex;
  flex-direction: row;
  
}
.align-left{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.blog-url {
  position: relative;
  left: 16em;
  top: .9em;
  padding: 0.3rem 0.7rem;
 
}
